.container {
  padding-top: 58px;
  padding-bottom: 70px;
}

.news-container {
  flex-direction: row-reverse;
  gap: 65px;
  justify-content: center;
}

.title-container {
  display: flex;
  justify-content: flex-end;
}

.title {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  color: #16255b;
  margin-bottom: 39px;
}

@media only screen and (max-width: 900px) {
  .title-container {
    justify-content: center;
  }
}
