.container {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  flex-grow: 1;
  /* background-color: #56a8d6; */
}

@media (min-width: 600px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
